
<h1>Mis Productos</h1>


<div id="contenedorProductos"></div>


<div class="contenedorProductitos">
    {{#each productos}}
        <p> {{this.title}} </p>
        <p> {{this.description}} </p>
        <p> {{this.price}} </p>
    {{/each}}

</div>